body{
  font-family:Arial;
}


.todo-grid,
.css-grid-input{
  display: grid;
  grid-template-columns:200px 150px 100px;  
  /* How many columns are in out grid with the pxs
  creates threee columns with the given values */
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.css-grid-input{
  margin-bottom: 20px;
  align-items: stretch;
}


.css-name-input,
.css-dueDate-input{

  font-size: 15px;
  padding: 6px;

}

.css-add-todo-button{

  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;

}

.css-delete-button{

  background-color: darkred;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;

}